<div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a ui-sref="radniNalozi" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-clipboard-list"></i></span>Radni nalozi</a>
            <a ui-sref="automobili" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-car"></i></span>Vozila</a>
            <a ui-sref="klijenti" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-users"></i></span>Klijenti</a>
            <a ui-sref="serviseri" onclick="closeNav()" ng-if="kc.ulogovaniKorisnik.pravo==1"><span class="input-group-addon mr-2"><i class="fas fa-id-card-alt"></i></span>Serviseri</a>
            <a ui-sref="akcije" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-wrench"></i></span>Akcije</a>
            <a ui-sref="statistika" onclick="closeNav()" ng-if="kc.ulogovaniKorisnik.pravo==1"><span class="input-group-addon mr-2"><i class="far fa-chart-bar"></i></span>Statistika</a>
</div>



<div class="main-wrapper">
    <div id="main">
            <button class="openbtn" onclick="openNav()">☰ MENI</button>

            <h3 class="table-heading">Klijenti</h3>

            <input type="text" name="search" class="search" placeholder="Pretraži..." ng-model="kc.parametri_pretrage" ng-keyup="kc.pretraga();"></input>
    </div>
</div>


            






<div class="table table-striped tableFixHead">
    <table class="table table-lg table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Klijent ime i prezime</th>
                <th>Broj telefona</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="klijent in kc.klijenti" data-toggle="modal" data-target="#klijent" ng-click="kc.dobaviKlijenta(klijent.id)">
                <td>{{$index+1}}</td>
                <td>{{klijent.ime}} {{klijent.prezime}}</td>
                <td>{{klijent.telefon}}</td>
            </tr>
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>   
</div>


<div class="d-flex justify-content-center mb-3" id="sentinel">
            <div class="spinner-border" role="status"></div>
</div>




    

<nav class="navbar navbar-expand-sm fixed-bottom footer" ng-controller="RadniNaloziCtrl as rnc">
            <ul class="navbar-nav mr-auto">
                <li>
                    <button type="button" class="btn btn-primary footerAddBtn" data-toggle="modal" data-target="#dodajKlijenta" id="addButton"><span class="input-group-addon mr-2" id="plus"><i class="fas fa-plus-circle"></i></span>Dodaj</button>
                    <span class="input-group-addon mr-2" id="user" style="display: none"><i class="fa fa-user fa-lg"></i></span>
                    <input name="loggedIn" class="loggedIn" ng-model="rnc.ulogovaniKorisnik.korisnicko_ime" id="userInput" style="display: none">
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="btn text-danger" ng-click="rnc.logout()">Odjava</a>
                </li>
            </ul>
</nav>





<div uib-alert ng-repeat="alert in kc.alerts" ng-class="'alert-' + (alert.type)" class="myAlert-bottom" close="kc.closeAlert($index)" dismiss-on-timeout="8000">{{alert.msg}}</div>







<!-- MODAL DODAVANJE  -->



<div class="modal fade" id="dodajKlijenta" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1">Dodavanje klijenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
                <form ng-submit="kc.dodajKlijenta()" id="formaDodaj">
                    <div class="form-group">
                        <label for="ime">Ime</label>
                        <input type="text" class="form-control" name="ime" autocomplete="off" ng-model="kc.noviKlijent.ime" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="prezime">Prezime</label>
                        <input type="text" class="form-control" name="prezime" autocomplete="off" ng-model="kc.noviKlijent.prezime" required>
                    </div>
                    <div class="form-group">
                        <label for="telefon">Telefon</label>
                        <input type="text" class="form-control" name="telefon" autocomplete="off" ng-model="kc.noviKlijent.telefon" required>
                    </div>
                </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" ng-click="kc.ocistiFormu()">Zatvori</button>
                <input type="submit" class="btn btn-primary float-right" value="+ Dodaj" form="formaDodaj"> 
          </div>
       </div>
    </div>
 </div>


<!-- MODAL DETALJAN PRIKAZ -->



 <div class="modal fade" id="klijent" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
            <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1">Prikaz klijenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="pregled">
                    <div class="form-group">
                        <label for="klijent_ime">Klijent ime</label>
                        <input type="text" class="form-control" name="klijent_ime" ng-model="kc.klijent.ime" readonly>
                    </div>
                    <div class="form-group">
                        <label for="klijent_prezime">Klijent prezime</label>
                        <input type="text" class="form-control" name="klijent_prezime" ng-model="kc.klijent.prezime" readonly>
                    </div>
                    <div class="form-group">
                        <label for="telefon">Broj telefona</label>
                        <input type="text" class="form-control" name="klijent" ng-model="kc.klijent.telefon" readonly>
                    </div>
                </form>
            </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#izmena"><span class="input-group-addon mr-2"><i class="far fa-edit fa-editlg"></i></span>Napravi izmenu</button>
          </div>
       </div>
    </div>
 </div>


<!-- MODAL IZMENA -->

  <div class="modal fade" id="izmena" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1"><span class="input-group-addon mr-2"><i class="far fa-edit fa-editlg"></i></span>Izmena klijenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
            <form name="pregled" ng-submit="kc.izmeniKlijenta(kc.klijent.id)" id="formaIzmeni">
                <div class="form-group">
                    <label for="klijent_ime">Klijent ime</label>
                    <input type="text" class="form-control" name="klijent_ime" autocomplete="off" ng-model="kc.klijent.ime" required>
                </div>
                <div class="form-group">
                    <label for="klijent_prezime">Klijent prezime</label>
                    <input type="text" class="form-control" name="klijent_prezime" autocomplete="off" ng-model="kc.klijent.prezime" required>
                </div>
                <div class="form-group">
                    <label for="telefon">Broj telefona</label>
                    <input type="text" class="form-control" name="klijent" autocomplete="off" ng-model="kc.klijent.telefon" required>
                </div>
            </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Nazad</button>
                <input type="submit" class="btn btn-primary float-right" value="Izmeni" form="formaIzmeni">
          </div>
       </div>
    </div>
 </div>





<!--<form ng-submit="klc.prikaziDijagram()">
    <div class="form-group">
        <label for="racun" class="mt-5">Račun</label>
        <select class="form-control" name="racuna" ng-options="racun.id as racun.broj for racun in klc.racuni track by racun.id"
            ng-model="klc.racun_id" ng-change="klc.prikaziDijagram()" required><option></option></select>
    </div>
<input type="submit" class="btn btn-primary" value="Prikaži dijagram za ovaj račun">
</form>
<div id="chartContainer" style="height: 370px; width: 100%;" class="chart"></div>





<div class="modal fade bd-example-modal-lg" data-keyboard="false" data-backdrop="static" id="pretraga" tabindex="-1"  role="dialog" aria-labelledby="modalLabel" aria-hidden="true" ng-controller="PretragaCtrl as pc">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ml-auto pl-4" id="modalLabel">Prikaz priliva i odliva</h4>
                <button class="close" data-dismiss="modal" ng-click="pc.zatvori()">&times;</button>
            </div>
            <div class="modal-body">
                <div ng-if="pc.tabela == 1 && pc.pretraziTransakciju == 0" class="mt-3 mb-5 ml-2 mr-2">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="pc.zatvori()">Zatvori</button>
            </div>
        </div>
    </div>
</div>-->