<div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a ui-sref="radniNalozi" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-clipboard-list"></i></span>Radni nalozi</a>
            <a ui-sref="automobili" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-car"></i></span>Vozila</a>
            <a ui-sref="klijenti" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-users"></i></span>Klijenti</a>
            <a ui-sref="serviseri" onclick="closeNav()" ng-if="stc.ulogovaniKorisnik.pravo==1"><span class="input-group-addon mr-2"><i class="fas fa-id-card-alt"></i></span>Serviseri</a>
            <a ui-sref="akcije" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-wrench"></i></span>Akcije</a>
            <a ui-sref="statistika" onclick="closeNav()" ng-if="stc.ulogovaniKorisnik.pravo==1"><span class="input-group-addon mr-2"><i class="far fa-chart-bar"></i></span>Statistika</a>
</div>


<div class="main-wrapper">
        <div id="main">
            <button class="openbtn" onclick="openNav()">☰ MENI</button>

            <h3 class="table-heading">Statistika</h3>

        </div>
</div>



<a class="float-right mr-5 mt-5 next-diagram" ng-if="stc.diagram=='chartRadniNalozi'" ng-click="stc.dobaviServisere();">Izvršene akcije<i class="fa fa-angle-double-right ml-2"></i></a>
<a class="float-left ml-5 mt-5 next-diagram" ng-if="stc.diagram=='chartRadniNalozi'" ng-click="stc.dobaviPrihod();"><i class="fa fa-angle-double-left mr-2"></i>Prihod</a>
<a class="float-left ml-5 mt-5 next-diagram" ng-if="stc.diagram=='chartPrihod'" ng-click="stc.dobaviServisere();"><i class="fa fa-angle-double-left mr-2"></i>Izvršene akcije</a>
<a class="float-right mr-5 mt-5 next-diagram" ng-if="stc.diagram=='chartPrihod'" ng-click="stc.dobaviRadneNaloge();">Radni nalozi<i class="fa fa-angle-double-right ml-2"></i></a>
<a class="float-left ml-5 mt-5 next-diagram" ng-if="stc.diagram=='chartAkcije'" ng-click="stc.dobaviRadneNaloge();"><i class="fa fa-angle-double-left mr-2"></i>Radni nalozi</a>
<a class="float-right mr-5 mt-5 next-diagram" ng-if="stc.diagram=='chartAkcije'" ng-click="stc.dobaviPrihod();">Prihod<i class="fa fa-angle-double-right ml-2"></i></a>

<!--  STATISTIKA   -->
    

<div id="chartRadniNalozi" style="margin-top: 150px;"></div>


<div id="chartAkcije" style="margin-top: 150px;"></div>


<div id="chartPrihod" style="margin-top: 150px;"></div>





<nav class="navbar navbar-expand-sm fixed-bottom footer" ng-controller="RadniNaloziCtrl as rnc">
            <ul class="navbar-nav mr-auto">
                <li>
                    <span class="input-group-addon mr-2" id="user" style="display: none"><i class="fa fa-user fa-lg"></i></span>
                    <input name="loggedIn" class="loggedIn" ng-model="rnc.ulogovaniKorisnik.korisnicko_ime" id="userInput" style="display: none">
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="btn text-danger" ng-click="rnc.logout()">Odjava</a>
                </li>
            </ul>
</nav>
