

<div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a ui-sref="radniNalozi" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-clipboard-list"></i></span>Radni nalozi</a>
            <a ui-sref="automobili" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-car"></i></span>Vozila</a>
            <a ui-sref="klijenti" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-users"></i></span>Klijenti</a>
            <a ui-sref="serviseri" onclick="closeNav()" ng-if="akc.ulogovaniKorisnik.pravo==1"><span class="input-group-addon mr-2"><i class="fas fa-id-card-alt"></i></span>Serviseri</a>
            <a ui-sref="akcije" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-wrench"></i></span>Akcije</a>
            <a ui-sref="statistika" onclick="closeNav()" ng-if="akc.ulogovaniKorisnik.pravo==1"><span class="input-group-addon mr-2"><i class="far fa-chart-bar"></i></span>Statistika</a>
</div>



<div class="main-wrapper">
        <div id="main">
            <button class="openbtn" onclick="openNav()">☰ MENI</button>

            <h3 class="table-heading">Akcije</h3>
            <input type="text" name="search" class="search" placeholder="Pretraži..." ng-model="akc.parametri_pretrage" ng-keyup="akc.pretraga();">

        </div>
</div>




<div class="table table-striped tableFixHead">
    <table class="table table-lg table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Naziv akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="akcija in akc.akcije" data-toggle="modal" data-target="#akcija" ng-click="akc.dobaviAkciju(akcija.id)">
                <td>{{$index+1}}</td>
                <td>{{akcija.naziv_akcije}}</td>
            </tr>
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>   
</div>




<nav class="navbar navbar-expand-sm fixed-bottom footer" ng-controller="RadniNaloziCtrl as rnc">
            <ul class="navbar-nav mr-auto">
                <li>
                    <button type="button" class="btn btn-primary footerAddBtn" data-toggle="modal" data-target="#dodajAkciju" id="addButton"><span class="input-group-addon mr-2" id="plus"><i class="fas fa-plus-circle"></i></span>Dodaj</button>
                    <span class="input-group-addon mr-2" id="user" style="display: none"><i class="fa fa-user fa-lg"></i></span>
                    <input name="loggedIn" class="loggedIn" ng-model="rnc.ulogovaniKorisnik.korisnicko_ime" id="userInput" style="display: none">
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="btn text-danger" ng-click="rnc.logout()">Odjava</a>
                </li>
            </ul>
</nav>





<div uib-alert ng-repeat="alert in akc.alerts" ng-class="'alert-' + (alert.type)" class="myAlert-bottom" close="akc.closeAlert($index)" dismiss-on-timeout="8000">{{alert.msg}}</div>






<!-- MODAL DODAVANJE -->

<div class="modal fade" id="dodajAkciju" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1">Dodavanje akcije</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
              <form ng-submit="akc.dodajAkciju()" id="formaDodaj">
                  <div class="form-group">
                      <label for="naziv_akcije">Naziv akcije</label>
                      <input type="text" class="form-control" name="naziv_akcije" autocomplete="off" ng-model="akc.novaAkcija.naziv_akcije" required>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" ng-click="akc.ocistiFormu()">Zatvori</button>
                <input type="submit" class="btn btn-primary float-right" value="+ Dodaj" form="formaDodaj"> 
          </div>
       </div>
    </div>
 </div>



<!-- MODAL DETALJAN PRIKAZ -->

 <div class="modal fade" id="akcija" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1">Pregled akcije</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
            <form name="pregled">
                <div class="form-group">
                    <label for="naziv_akcije">Naziv akcije</label>
                    <input type="text" class="form-control" name="naziv_akcije" ng-model="akc.akcija.naziv_akcije" readonly>
                </div>
                <div class="form-group">
                    <label for="cena_akcije">Cena akcije</label>
                    <input type="text" class="form-control" name="cena_akcije" ng-model="akc.akcija.cena_akcije" readonly>
                </div>
            </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#izmena"><span class="input-group-addon mr-2"><i class="far fa-edit fa-editlg"></i></span>Napravi izmenu</button>
          </div>
       </div>
    </div>
 </div>







<!-- MODAL IZMENA -->

  <div class="modal fade" id="izmena" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1"><span class="input-group-addon mr-2"><i class="far fa-edit fa-editlg"></i></span>Izmena akcije</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
            <form name="pregled" ng-submit="akc.izmeniAkciju(akc.akcija.id)" id="formaIzmeni">
                <div class="form-group">
                    <label for="naziv_akcije">Naziv akcije</label>
                    <input type="text" class="form-control" name="naziv_akcije" autocomplete="off" ng-model="akc.akcija.naziv_akcije" required>
                </div>
                <div class="form-group">
                    <label for="cena_akcije">Cena akcije</label>
                    <input type="number" class="form-control" name="cena_akcije" autocomplete="off" ng-model="akc.akcija.cena_akcije" required>
                </div>
            </form>      
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Nazad</button>
                <input type="submit" class="btn btn-primary float-right" value="Izmeni" form="formaIzmeni">
          </div>
       </div>
    </div>
 </div>