
body{
    margin-bottom: 200px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}
.container-fluid{
    padding: 0;
}
.loggedIn{
    border: none;
    text-transform: uppercase;
    font-weight: 1000;
    color: white;
    background-color: inherit;
}
.dark{
    background-color: black;
}
.bmw{
    margin: 0 auto;
}
.fa-user{
    color: white;
}
label{
    margin-right: 10px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 12px 16px;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 75px;
    border-bottom: 0.5px solid #dee2e6;
}
.main-wrapper{
    height: 75px;
    width: 100%;
}
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
   display: inline-block;
   text-align: left;
   vertical-align: middle;
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login-input{
    border: 0;
    text-align: center;
    font-size: 15px;
    margin: 20px auto;
    outline: none;
    border-radius: 25px;
    border: 1px solid #678AA0;
    background: none;
    color: white;
    padding: 20px 10px;
    width: 250px;
}

.login-input:focus{
    border: 1px solid #A0C4DA;
    background-color: white;
    color: black;
    transition: 0.5s;
    width: 300px;
}
.login-input:focus::-webkit-input-placeholder {
    color: black;
}
.login-input:focus {
    outline: none !important;
    border:1px solid white;
    box-shadow: 0 0 10px #719ECE;
}

#logInButton{
    border: 0;
    text-align: center;
    font-size: 15px;
    margin: 25px auto;
    outline: none;
    border-radius: 25px;
    border: 2px solid white;
    background: none;
    color: white;
    padding:  10px;
    display: block;
    width: 100px;
}

#logInButton:hover{
    transition-duration: 0.5s;
    box-shadow: 0 0 10px #719ECE;
    width: 120px;
}

.table-heading{
    margin-left: 150px;
    display: inline-block;
}

.separate-heading{
    margin-bottom: 0px;
}

.search{
    display: inline-block;
    float: right;
    width: 300px;
    padding: 6px 10px;
    margin: 10px;
    font-size: 17px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}
.dateSearch{
    position: absolute;
    right: 17px;
    padding: 6px 10px;
    margin: 10px;
    margin-top: 5px;
}
.search:focus{
    box-shadow: 0 0 10px #719ECE;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
.modal-body .form-group p {
    font-size: 15px;
}
table td{
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
}
.myAlert-bottom{
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 99999;
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
  .modal-xl {
    width: 1100px;
  }
}
.nalog .modal-dialog{
    overflow-y: initial !important
}
.nalog .modal-body{
    height: 800px;
    overflow-y: auto;
}
@media (max-height:  880px) {
    .nalog .modal-dialog{
        overflow-y: initial !important
    }
    .nalog .modal-body{
        height: 500px;
        overflow-y: auto;
    }
}
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    display: inline-block !important;
    visibility: visible !important;
}
.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
.typeahead-demo a {
  margin: 10px;
  padding: 5px;
  color:black;
  display: block;
  border-bottom: 1px solid white;
}
.typeahead-demo a:hover {
  margin: 10px;
  padding: 5px;
}
.next-diagram{
    font-size: 20px;
}
.next-diagram:hover{
    font-weight: 600;
    cursor: pointer;
}
.tableFixHead th{
    background-color: white;
    position: sticky;
    top: 74px;
}
.footerAddBtn{
    padding-top: 7px;
    padding-bottom: 7px;
}
.footer{
    padding: 15px;
    background-color: #111;
}
@media (max-width: 992px) {
  .btn-nalog {
    padding: 3px 5px;
    font-size: 80%;

  }
}