

<div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a ui-sref="radniNalozi" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-clipboard-list"></i></span>Radni nalozi</a>
            <a ui-sref="automobili" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-car"></i></span>Vozila</a>
            <a ui-sref="klijenti" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-users"></i></span>Klijenti</a>
            <a ui-sref="serviseri" onclick="closeNav()" ng-if="sc.ulogovaniKorisnik.pravo==1"><span class="input-group-addon mr-2"><i class="fas fa-id-card-alt"></i></span>Serviseri</a>
            <a ui-sref="akcije" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-wrench"></i></span>Akcije</a>
            <a ui-sref="statistika" onclick="closeNav()" ng-if="sc.ulogovaniKorisnik.pravo==1"><span class="input-group-addon mr-2"><i class="far fa-chart-bar"></i></span>Statistika</a>
</div>


<div class="main-wrapper">
        <div id="main">
            <button class="openbtn" onclick="openNav()">☰ MENI</button>

            <h3 class="table-heading">Serviseri</h3>

        </div>
</div>



<div class="table table-striped tableFixHead">
    <table class="table table-lg table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Korisničko ime</th>
                <th>Serviser ime i prezime</th>
                <th>Broj telefona</th>
                <th>Aktivan</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="serviser in sc.serviseri" data-toggle="modal" data-target="#serviser" ng-click="sc.dobaviServisera(serviser.id)">
                <td>{{$index+1}}</td>
                <td style="text-transform: uppercase;">{{serviser.korisnicko_ime}}</td>
                <td>{{serviser.ime_servisera}} {{serviser.prezime_servisera}}</td>
                <td>{{serviser.telefon_servisera}}</td>
                <td>{{serviser.aktivan}}</td>
            </tr>
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>   
</div>




<nav class="navbar navbar-expand-sm fixed-bottom footer" ng-controller="RadniNaloziCtrl as rnc">
            <ul class="navbar-nav mr-auto">
                <li>
                    <button type="button" class="btn btn-primary footerAddBtn" data-toggle="modal" data-target="#dodajServisera" id="addButton"><span class="input-group-addon mr-2" id="plus"><i class="fas fa-plus-circle"></i></span>Dodaj</button>
                    <span class="input-group-addon mr-2" id="user" style="display: none"><i class="fa fa-user fa-lg"></i></span>
                    <input name="loggedIn" class="loggedIn" ng-model="rnc.ulogovaniKorisnik.korisnicko_ime" id="userInput" style="display: none">
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="btn text-danger" ng-click="rnc.logout()">Odjava</a>
                </li>
            </ul>
</nav>





<div uib-alert ng-repeat="alert in sc.alerts" ng-class="'alert-' + (alert.type)" class="myAlert-bottom" close="sc.closeAlert($index)" dismiss-on-timeout="8000">{{alert.msg}}</div>




<!-- MODAL DODAVANJE -->

<div class="modal fade" id="dodajServisera" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1">Dodavanje servisera</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
              <form ng-submit="sc.dodajServisera()" id="formaDodaj">
                  <div class="form-group">
                      <label for="ime">Ime</label>
                      <input type="text" class="form-control" autocomplete="off" name="ime" ng-model="sc.noviServiser.ime_servisera" required>
                  </div>
                  <div class="form-group">
                      <label for="prezime">Prezime</label>
                      <input type="text" class="form-control" autocomplete="off" name="prezime" ng-model="sc.noviServiser.prezime_servisera" required>
                  </div>
                  <div class="form-group">
                      <label for="telefon">Telefon</label>
                      <input type="text" class="form-control" autocomplete="off" name="telefon" ng-model="sc.noviServiser.telefon_servisera" required>
                  </div>
                  <div class="form-group">
                      <label for="korisnicko_ime">Korisničko ime</label>
                      <input type="text" class="form-control" name="korisnicko_ime" autocomplete="off" ng-model="sc.noviServiser.korisnicko_ime" required>
                  </div>
                  <div class="form-group">
                      <label for="lozinka">Lozinka</label>
                      <input type="password" class="form-control" name="lozinka" ng-model="sc.noviServiser.lozinka" required>
                  </div>
                  <div class="form-group">
                      <label for="lozinka1">Ponovljena lozinka</label>
                      <input type="password" class="form-control" name="lozinka1" ng-model="sc.noviServiser.lozinka1" required>
                  </div>
                  <div class="form-group">
                      <label for="pravo">Pravo</label>
                      <input type="number" class="form-control" name="pravo" autocomplete="off" ng-model="sc.noviServiser.pravo" max="11" required>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" ng-click="sc.ocistiFormu()">Zatvori</button>
                <input type="submit" class="btn btn-primary float-right" value="+ Dodaj" form="formaDodaj"> 
          </div>
       </div>
    </div>
 </div>






<!-- MODAL DETALJAN PRIKAZ -->



 <div class="modal fade" id="serviser" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1">Pregled servisera</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
            <form name="pregled">
                <div class="form-group">
                    <label for="ime">Serviser ime</label>
                    <input type="text" class="form-control" name="ime" ng-model="sc.serviser.ime_servisera" readonly>
                </div>
                <div class="form-group">
                    <label for="prezime">Serviser prezime</label>
                    <input type="text" class="form-control" name="prezime" ng-model="sc.serviser.prezime_servisera" readonly>
                </div>
                <div class="form-group">
                    <label for="telefon">Broj telefona</label>
                    <input type="text" class="form-control" name="telefon" ng-model="sc.serviser.telefon_servisera" readonly>
                </div>
                <div class="form-group">
                    <label for="korisnicko_ime">Korisničko ime</label>
                    <input type="text" class="form-control" name="korisnicko_ime" ng-model="sc.serviser.korisnicko_ime" readonly>
                </div>
                <div class="form-group">
                    <label for="lozinka">Lozinka</label>
                    <input type="password" class="form-control" name="lozinka" ng-model="sc.serviser.lozinka" readonly>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="pravo">Pravo</label>
                        <input type="text" class="form-control" name="pravo" ng-model="sc.serviser.pravo" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="aktivan">Aktivan</label>
                        <input type="text" class="form-control" name="aktivan" ng-model="sc.serviser.aktivan" readonly>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Nazad</button>
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#izmena"><span class="input-group-addon mr-2"><i class="far fa-edit fa-editlg"></i></span>Napravi izmenu</button>
          </div>
       </div>
    </div>
 </div>


<!-- MODAL IZMENA -->

  <div class="modal fade" id="izmena" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1"><span class="input-group-addon mr-2"><i class="far fa-edit fa-editlg"></i></span>Izmena servisera</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
            <form name="pregled" ng-submit="sc.izmeniServisera(sc.serviser.id)" id="formaIzmeni">
                <div class="form-group">
                    <label for="ime">Serviser ime</label>
                    <input type="text" class="form-control" name="ime" autocomplete="off" ng-model="sc.serviser.ime_servisera" required>
                </div>
                <div class="form-group">
                    <label for="prezime">Serviser prezime</label>
                    <input type="text" class="form-control" name="prezime" autocomplete="off" ng-model="sc.serviser.prezime_servisera" required>
                </div>
                <div class="form-group">
                    <label for="telefon">Broj telefona</label>
                    <input type="text" class="form-control" name="telefon" autocomplete="off" ng-model="sc.serviser.telefon_servisera" required>
                </div>
                <div class="form-group">
                    <label for="korisnicko_ime">Korisničko ime</label>
                    <input type="text" class="form-control" name="korisnicko_ime" autocomplete="off" ng-model="sc.serviser.korisnicko_ime" required>
                </div>
                <div class="form-group">
                    <label for="lozinka">Lozinka</label>
                    <input type="password" class="form-control" name="lozinka" ng-model="sc.serviser.lozinka" required>
                </div>
                <div class="form-group">
                    <label for="lozinka1">Ponovljena lozinka</label>
                    <input type="password" class="form-control" name="lozinka1" ng-model="sc.serviser.lozinka1" required>
                </div>
                <div class="form-group">
                    <label for="pravo">Pravo</label>
                    <input type="nubmer" class="form-control" name="pravo" max="11" autocomplete="off" ng-model="sc.serviser.pravo" required>
                </div>
                <div class="form-group text-right">
                        <button type="button" class="btn btn-danger" ng-if="sc.serviser.obrisan==0" ng-click="sc.obrisiServisera(sc.serviser.id)">Obriši servisera</button>
                        <a class="btn text-danger" ng-if="sc.serviser.obrisan==1" ng-click="sc.ponistiBrisanjeServisera(sc.serviser.id)">Poništi brisanje</a>
                </div>
            </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Nazad</button>
                <input type="submit" class="btn btn-primary float-right" value="Izmeni" form="formaIzmeni">
          </div>
       </div>
    </div>
 </div>