<div>
	<img src="bmw1.jpg" class="rounded mx-auto d-block">
</div>




<div class="form">
    <form class="form-group" ng-submit="lc.login()">
        <div class="ml-auto mr-auto">
            <input class="form-control login-input" placeholder="Korisničko ime" type="text" autocomplete="off" ng-model="lc.ulogovaniKorisnik.korisnicko_ime">
            <input class="form-control login-input" placeholder="Lozinka" type="password" ng-model="lc.ulogovaniKorisnik.lozinka">
            <button type="submit" id="logInButton">
                Prijava
            </button>
        </div>    
    </form>
</div>
