

<div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a ui-sref="radniNalozi" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-clipboard-list"></i></span>Radni nalozi</a>
            <a ui-sref="automobili" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-car"></i></span>Vozila</a>
            <a ui-sref="klijenti" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-users"></i></span>Klijenti</a>
            <a ui-sref="serviseri" onclick="closeNav()" ng-if="rnc.ulogovaniKorisnik.pravo==1"><span class="input-group-addon mr-2"><i class="fas fa-id-card-alt"></i></span>Serviseri</a>
            <a ui-sref="akcije" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-wrench"></i></span>Akcije</a>
            <a ui-sref="statistika" onclick="closeNav()" ng-if="rnc.ulogovaniKorisnik.pravo==1"><span class="input-group-addon mr-2"><i class="far fa-chart-bar"></i></span>Statistika</a>
</div>
    



<div class="main-wrapper">
    <div id="main">

            <button class="openbtn" onclick="openNav()">☰ MENI</button>

            <h3 class="table-heading">Radni nalozi</h3>

            <form class="float-right" style="display:flex; flex-direction:row;">
                <input type="text" name="search" class="search" placeholder="Pretraži..." ng-model="rnc.parametri_pretrage.parametri_pretrage_string" autocomplete="off" ng-keyup="rnc.pretraga();">
                <button class="btn dateSearch" data-toggle="modal" data-target="#pretragaDatum"><i class="far fa-calendar-alt"></i></button>
            </form>
    </div>
</div>




 <div class="modal fade" id="pretragaDatum" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1">Pretraga</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="exampleInputEmail1">Datum otvaranja od:</label>
                        <input type="date" class="form-control" name="datumOd" id="datumOd" ng-model="rnc.datumOd">
                    </div>
                    <div class="form-group col">
                        <label for="exampleInputEmail1">Datum otvaranja do:</label>
                        <input type="date" class="form-control" name="datumDo" id="datumDo" ng-model="rnc.datumDo">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" ng-click="rnc.ocistiDatume();">Zatvori / Očisti</button>
                    <button type="button" class="btn btn-primary float-right" data-dismiss="modal" ng-click="rnc.pretraga();">Pretraži</button> 
            </div>
       </div>
    </div>
 </div>

        


<div class="table table-striped tableFixHead">
    <table class="table table-lg table-hover">
        <div>
        <thead>
            <tr>
                <th></th>
                <th>Datum otvaranja</th>
                <th>Datum zatvaranja</th>
                <th>Marka i model vozila</th>
                <th>Klijent ime i prezime</th>
                <th>Opis problema</th>
                <th>Status</th>
            </tr>
        </thead>
        </div>
        <tbody>
            <tr ng-repeat="radni_nalog in rnc.radni_nalozi" data-toggle="modal" data-target="#radniNalog" ng-click="rnc.dobaviRadniNalog(radni_nalog.id);" >
                <td>{{$index+1}}</td>
                <td>{{radni_nalog.datum_prijema | date:'dd/MM/yy, HH:mm'}}</td>
                <td>{{radni_nalog.datum_otpusta | date:'dd/MM/yy, HH:mm'}}</td>
                <td>{{radni_nalog.naziv_proizvodjaca}} {{radni_nalog.naziv_modela}}</td>
                <td>{{radni_nalog.ime}} {{radni_nalog.prezime}}</td>
                <td maxlength="20">{{radni_nalog.problem}}</td>
                <td ng-style="{color : radni_nalog.status=='zatvoren'? '#d9534f' : 'black'}">{{radni_nalog.status}}</td>
            </tr>
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>   
</div>




    

<nav class="navbar navbar-expand-sm fixed-bottom footer">
            <ul class="navbar-nav mr-auto">
                <li>
                    <button type="button" class="btn btn-primary footerAddBtn" data-toggle="modal" data-target="#dodajRadniNalog" id="addButton" ng-click="rnc.dobaviAutomobile();
        rnc.dobaviKlijente(); rnc.dobaviProizvodjace();"><span class="input-group-addon mr-2" id="plus"><i class="fas fa-plus-circle"></i></span>Dodaj</button>
                    <span class="input-group-addon mr-2" id="user" style="display: none"><i class="fa fa-user fa-lg"></i></span>
                    <input name="loggedIn" class="loggedIn" ng-model="rnc.ulogovaniKorisnik.korisnicko_ime" id="userInput" style="display: none">
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-white">Broj rezultata: {{rnc.broj_rezultata_pretrage}}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white">Ukupan iznos: {{rnc.ukupan_iznos}} RSD</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link btn text-danger"  ng-click="rnc.logout()">Odjava</a>
                </li>
            </ul>
</nav>




<div uib-alert ng-repeat="alert in rnc.alerts" ng-class="'alert-' + (alert.type)" class="myAlert-bottom" close="rnc.closeAlert($index)" dismiss-on-timeout="8000">{{alert.msg}}</div>



<!-- MODAL DODAVANJE -->

<div class="modal fade" id="dodajRadniNalog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodavanje radnog naloga</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='tabs-x tabs-above tabs-krajee'>
            <ul id="myTab-tabs-above" class="nav nav-tabs mb-5" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="home-tab-tabs-above" data-target="#nalog-tab" role="tab" data-toggle="tab" aria-controls="home" ng-click="rnc.dobaviAutomobile(); rnc.dobaviKlijente(); rnc.otvorenModal='nalog'" aria-expanded="true">Radni nalog</a></li>
                <li class="nav-item"><a class="nav-link" id="profile-tab-tabs-above" data-target="#automobil-tab" role="tab-kv" data-toggle="tab" aria-controls="profile" ng-click="rnc.dobaviAutomobile(); rnc.dobaviKlijente(); rnc.otvorenModal='vozilo'">Vozilo</a></li>
                <li class="nav-item"><a class="nav-link" id="profile-tab-tabs-above" data-target="#klijnet-tab" role="tab-kv" data-toggle="tab" aria-controls="profile" ng-click="rnc.dobaviAutomobile(); rnc.dobaviKlijente(); rnc.otvorenModal='klijent'">Klijent</a></li>
            </ul>
            <div id="myTabContent-tabs-above" class="tab-content">
                <div class="tab-pane fade show active" id="nalog-tab" role="tabpanel" aria-labelledby="nalog-tab">
                    <form ng-submit="rnc.dodajRadniNalog()" id="formaDodajNalog">
                        <div class="form-group">
                            <label for="automobil">Vozilo</label>
                            <div class="typeahead-demo">
                              <input class="form-control" name="automobil" type="text" autocomplete="off" ng-model="rnc.noviRadniNalog.automobil" ng-model-options="modelOptions" uib-typeahead="automobil as automobil.proizvodjacModelSasija for automobil in rnc.automobili | filter:$viewValue | limitTo:8" ng-change="rnc.noviRadniNalog.automobil.id" required>
                            </div>

                            <!--<select class="form-control" name="automobil" ng-options="automobil.id as automobil.naziv_proizvodjaca + ' ' + automobil.naziv_modela + ' | ' + automobil.broj_sasije for automobil in rnc.automobili track by automobil.id"
                            ng-model="rnc.noviRadniNalog.automobil_id" ng-change="rnc.dobaviAutomobil(rnc.automobil.id)" required><option></option></select>-->
                        </div>
                        <div class="form-group">
                            <label for="klijent">Klijent</label>
                            <div class="typeahead-demo">
                                <input class="form-control" name="klijent" type="text" autocomplete="off" ng-model="rnc.noviRadniNalog.klijent" ng-model-options="modelOptions" uib-typeahead="klijent as klijent.imePrezimeTelefon for klijent in rnc.klijenti | filter:$viewValue | limitTo:8" ng-change="rnc.noviRadniNalog.klijent.id" required>
                            </div>
                            <!--<select class="form-control" name="klijenti" ng-options="klijent.id as klijent.ime + ' ' + klijent.prezime for klijent in rnc.klijenti track by klijent.id"
                            ng-model="rnc.noviRadniNalog.klijent_id" required><option></option></select>-->
                        </div>
                        <div class="form-group">
                            <label for="problem">Problem</label>
                            <textarea rows="4" cols="50" class="form-control" name="problem" autocomplete="off" ng-model="rnc.noviRadniNalog.problem" required></textarea>
                        </div>
                    </form>
                </div>


                <div class="tab-pane fade" id="automobil-tab" role="tabpanel" aria-labelledby="automobil-tab">
                    <form ng-submit="rnc.dodajAutomobil()" id="formaDodajVozilo">
                        <div class="form-group">
                            <label for="proizvodjac">Proizvođač</label>
                            <!--<div class="typeahead-demo">
                              <input class="form-control" type="text" ng-model="rnc.noviAutomobil.proizvodjac" ng-change="rnc.dobaviModele(rnc.noviAutomobil.proizvodjac);" ng-model-options="modelOptions" uib-typeahead="proizvodjac as proizvodjac.naziv_proizvodjaca for proizvodjac in rnc.proizvodjaci | filter:{naziv_proizvodjaca:$viewValue} | limitTo:8" required>
                            </div>-->
                            <select class="form-control" name="proizvodjac" ng-options="proizvodjac.id as proizvodjac.naziv_proizvodjaca for proizvodjac in rnc.proizvodjaci track by proizvodjac.id"
                            ng-model="rnc.noviAutomobil.proizvodjac.id" ng-change="rnc.dobaviModele(rnc.noviAutomobil.proizvodjac.id)" required><option></option></select>
                        </div>
                        <div class="form-group">
                            <label for="modeli">Model</label>
                            <select class="form-control" name="modeli" ng-options="model.id as model.naziv_modela for model in rnc.modeli track by model.id"
                            ng-model="rnc.noviAutomobil.model_id" required><option></option></select>
                        </div>
                        <div class="form-group">
                            <label for="broj_sasije">Broj šasije vozila</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" autocomplete="off" name="broj_sasije" ng-model="rnc.noviAutomobil.broj_sasije" required>
                        </div>
                    </form>
                </div>


                <div class="tab-pane fade" id="klijnet-tab" role="tabpanel" aria-labelledby="klijnet-tab">
                    <form ng-submit="rnc.dodajKlijenta()" id="formaDodajKlijnta">
                        <div class="form-group">
                            <label for="ime">Ime</label>
                            <input type="text" class="form-control" autocomplete="off" name="ime" ng-model="rnc.noviKlijent.ime" required>
                        </div>
                        <div class="form-group">
                            <label for="prezime">Prezime</label>
                            <input type="text" class="form-control" autocomplete="off" name="prezime" ng-model="rnc.noviKlijent.prezime" required>
                        </div>
                        <div class="form-group">
                            <label for="telefon">Telefon</label>
                            <input type="text" class="form-control" autocomplete="off" name="telefon" ng-model="rnc.noviKlijent.telefon" required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" ng-click="rnc.ocistiFormu()">Zatvori</button>
            <input type="submit" class="btn btn-primary float-right" value="+ Dodaj" form="formaDodajNalog" ng-if="rnc.otvorenModal=='nalog'"> 
            <input type="submit" class="btn btn-primary float-right" value="+ Dodaj" form="formaDodajVozilo" ng-if="rnc.otvorenModal=='vozilo'"> 
            <input type="submit" class="btn btn-primary float-right" value="+ Dodaj" form="formaDodajKlijnta" ng-if="rnc.otvorenModal=='klijent'"> 
    </div>
  </div>
</div>
</div>








<!-- MODAL DETALJAN PRIKAZ -->



 <div class="modal fade nalog" id="radniNalog" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1">Radni nalog ({{rnc.radni_nalog.status}})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
            <form name="pregled">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="otvaranje_naloga">Otvaranje naloga:</label>
                      <p>{{rnc.radni_nalog.datum_prijema | date:'dd/MM/yy, HH:mm'}}</p>
                    </div>
                    <div class="form-group col-md-6 text-right">
                      <label for="zatvaranje_naloga" class="mr-0">Zatvaranje naloga:</label>
                      <p>{{rnc.radni_nalog.datum_otpusta | date:'dd/MM/yy, HH:mm'}}</p>
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="form-group col-md-6">
                        <label for="vozilo">Marka vozila i model</label>
                        <input type="text" class="form-control" name="vozilo" ng-model="rnc.prizvodjac_model" readonly>
                    </div>
                    <div class="form-group col-md-6 text-left">
                        <label for="broj_sasije">Broj šasije vozila</label>
                        <input type="text" class="form-control" name="broj_sasije" ng-model="rnc.radni_nalog.broj_sasije" readonly>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group col-md-6">
                        <label for="klijent">Klijent ime i prezime</label>
                        <input type="text" class="form-control" name="klijent" ng-model="rnc.klijent_ime_prezime" readonly>
                    </div>
                    <div class="form-group col-md-6 text-left">
                        <label for="telefon">Telefon klijenta</label>
                    <input type="text" class="form-control" name="telefon" ng-model="rnc.radni_nalog.telefon" readonly>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group col-md-4">
                        <label for="problem">Opis problema</label>
                    <textarea type="text" rows="4" cols="50" class="form-control" name="problem" ng-model="rnc.radni_nalog.problem" readonly></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="opis_intervencija">Opis intervencija</label>
                    <textarea type="text" rows="4" cols="50" class="form-control" name="opis_intervencija" ng-model="rnc.radni_nalog.opis_intervencija" readonly></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="utrosen_materijal">Utrošen materijal</label>
                    <textarea type="text" rows="4" cols="50" class="form-control" name="utrosen_materijal" ng-model="rnc.radni_nalog.utrosen_materijal" readonly></textarea>
                    </div>
                </div>
                
                <div class="form-row mt-5">
                    <div class="form-group col-md-4">
                        <label for="nabavna_cena_materijala">Nabavna cena materijala (RSD)</label>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cena_materijala">Cena materijala (RSD)</label>
                    </div>
                    <div class="form-group col-md-4" ng-if="rnc.radni_nalog.datum_otpusta!=null">
                        <label for="ukupna_cena">Ukupna cena usluge (RSD)</label>
                    </div>
                    <div class="form-group col-md-4" ng-if="rnc.radni_nalog.datum_otpusta==null">
                        <a class="text-danger" style="cursor: pointer;" ng-if="rnc.generisanaUkCena == 'ne'" ng-click="rnc.generisanjeUkupneCene();">Generiši ukupnu cenu</a>
                        <label for="ukupna_cena" ng-if="rnc.generisanaUkCena == 'da'">Ukupna cena usluge (RSD)</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                    <input type="nubmer" class="form-control" name="nabavna_cena_materijala" ng-model="rnc.radni_nalog.nabavna_cena_materijala" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="nubmer" class="form-control" name="cena_materijala" ng-model="rnc.radni_nalog.cena_materijala" readonly>
                    </div>
                    <div class="form-group col-md-4" ng-if="rnc.radni_nalog.datum_otpusta!=null">
                        <input type="number" class="form-control" name="ukupna_cena" ng-model="rnc.radni_nalog.ukupna_cena" readonly>
                    </div>
                    <div class="form-group col-md-4"  ng-if="rnc.generisanaUkCena == 'da' && rnc.radni_nalog.datum_otpusta==null">
                        <input type="number" class="form-control" name="ukupna_cena" ng-model="rnc.generisanaUkupnaCena" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="napomena">Napomena</label>
                    <textarea type="text" rows="4" cols="50" class="form-control" name="napomena" id="napomena" ng-model="rnc.radni_nalog.napomena" readonly></textarea>
                </div>
                <div class="form-group text-right mr-4">
                    <label for="resen_problem" class="custom-checkbox">Rešen problem</label> <input type="checkbox" class="checkmark" name="resen_problem" id="resen_problem" ng-model="rnc.radni_nalog.resen_problem" ng-true-value="1" ng-false-value="0" disabled="disabled">
                </div>
            </form>
          </div>
          
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto btn-nalog" data-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-dark float-left btn-nalog" data-toggle="modal" data-target="#izvrseneAkcije" ng-click="rnc.dobaviAkcije(); rnc.dobaviServisere()"><span class="input-group-addon mr-2"><i class="fas fa-wrench"></i> Akcije ({{rnc.izvrsene_akcije_za_radni_nalog.length}})</button>
                <button type="button" class="btn btn-primary float-right btn-nalog" data-toggle="modal" data-target="#izmena" ng-if="rnc.radni_nalog.datum_otpusta==null"><span class="input-group-addon mr-2"><i class="far fa-edit fa-editlg"></i></span>Napravi izmenu</button>
                <button type="button" class="btn btn-primary float-right btn-nalog" ng-if="rnc.radni_nalog.datum_otpusta!=null" ng-click="rnc.otvaranjeNaloga(rnc.radni_nalog.id);">Otvaranje naloga</button>
                <button type="button" class="btn btn-danger float-right btn-nalog" ng-if="rnc.radni_nalog.datum_otpusta!=null && rnc.radni_nalog.status!='razduzen'" ng-click="rnc.razduzivanjeNaloga(rnc.radni_nalog.id)">Razduživanje</button>
                <button type="button" class="btn btn-danger float-right" ng-if="rnc.radni_nalog.datum_otpusta==null" ng-click="rnc.zatvaranjeNaloga(rnc.radni_nalog.id)">Zatvaranje naloga</button>
          </div>
       </div>
    </div>
 </div>



<!-- MODAL IZMENA -->

 <div class="modal fade nalog" id="izmena" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1"><span class="input-group-addon mr-2"><i class="far fa-edit fa-editlg"></i></span>Izmena radnog naloga ({{rnc.radni_nalog.status}})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
            <form name="pregled" ng-submit="rnc.izmeniRadniNalog(rnc.radni_nalog.id)" id="formaIzmena">
                <div class="form-row mb-3">
                    <div class="form-group col-md-6">
                      <label for="otvaranje_naloga">Otvaranje naloga:</label>
                      <p>{{rnc.radni_nalog.datum_prijema | date:'dd/MM/yy, HH:mm'}}</p>
                    </div>
                    <div class="form-group col-md-6 text-right">
                      <label for="zatvaranje_naloga" class="mr-0">Zatvaranje naloga:</label>
                      <p>{{rnc.radni_nalog.datum_otpusta | date:'dd/MM/yy, HH:mm'}}</p>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group col-md-6">
                        <label for="vozilo">Marka vozila i model</label>
                        <input type="text" class="form-control" name="vozilo" ng-model="rnc.prizvodjac_model" readonly>
                    </div>
                    <div class="form-group col-md-6 text-left">
                        <label for="broj_sasije">Broj šasije vozila</label>
                        <input type="text" class="form-control" name="broj_sasije" ng-model="rnc.radni_nalog.broj_sasije" readonly>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group col-md-6">
                        <label for="klijent">Klijent ime i prezime</label>
                        <input type="text" class="form-control" name="klijent" ng-model="rnc.klijent_ime_prezime" readonly>
                    </div>
                    <div class="form-group col-md-6 text-left">
                        <label for="telefon">Telefon klijenta</label>
                    <input type="text" class="form-control" name="telefon" ng-model="rnc.radni_nalog.telefon" readonly>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group col-md-4">
                        <label for="problem">Opis problema</label>
                        <textarea type="text" rows="4" cols="50" class="form-control" name="problem" ng-model="rnc.radni_nalog.problem"></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="opis_intervencija">Opis intervencija</label>
                        <textarea type="text" rows="4" cols="50" class="form-control" name="opis_intervencija" ng-model="rnc.radni_nalog.opis_intervencija"></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="utrosen_materijal">Utrošen materijal</label>
                        <textarea type="text" rows="4" cols="50" class="form-control" name="utrosen_materijal" ng-model="rnc.radni_nalog.utrosen_materijal"></textarea>
                    </div>
                </div>
                <div class="form-row mt-5">
                    <div class="form-group col-md-4">
                        <label for="nabavna_cena_materijala">Nabavna cena materijala (RSD)</label>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cena_materijala">Cena materijala (RSD)</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="nubmer" class="form-control" name="nabavna_cena_materijala" ng-model="rnc.radni_nalog.nabavna_cena_materijala" ng-readonly="rnc.radni_nalog.datum_otpusta!=null">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="nubmer" class="form-control" name="cena_materijala" ng-model="rnc.radni_nalog.cena_materijala" ng-readonly="rnc.radni_nalog.datum_otpusta!=null">
                    </div>
                </div>
                <div class="form-group text-right mr-4">
                    <label for="resen_problem" class="custom-checkbox">Rešen problem</label>
                    <input type="checkbox" class="checkmark" name="resen_problem" id="resen_problem" ng-model="rnc.radni_nalog.resen_problem" ng-true-value="1" ng-false-value="0">
                </div>
            </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Nazad</button>
                <input type="submit" class="btn btn-primary float-right" value="Izmeni" ng-if="rnc.radni_nalog.datum_otpusta==null" form="formaIzmena"> 
          </div>
       </div>
    </div>
 </div>


<!-- MODAL IZVRSENE AKCIJE -->


 <div class="modal fade nalog" id="izvrseneAkcije" role="dialog" aria-labelledby="izvrseneAkcije" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="izvrseneAkcije"><span class="input-group-addon mr-2"><i class="fas fa-wrench"></i> Izvršene akcije</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
            <form ng-repeat="izvrsena_akcija in rnc.izvrsene_akcije_za_radni_nalog">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="broj_akcije">Akcija #{{$index+1}}</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="datum_izvrsavanja" style="display: inline-block;">Datum izvršavanja:</label>
                    <p style="display: inline-block;">{{izvrsena_akcija.datum_izvrsavanja | date:'dd/MM/yy, HH:mm'}}</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="naziv_akcije">Naziv akcije</label>
                        <input type="text" class="form-control" name="naziv_akcije" ng-model="izvrsena_akcija.naziv_akcije">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cena_akcije">Cena akcije (RSD)</label>
                        <input type="number" class="form-control" name="cena_akcije" ng-model="izvrsena_akcija.cena_akcije">
                    </div>
                </div>
                <div class="form-group">
                    <label for="serviser">Serviser koji je vršio akciju</label>
                    <input type="text" class="form-control" name="serviser" value="{{izvrsena_akcija.korisnicko_ime}}">
                </div>
                <div class="form-group">
                    <label for="opis_akcije">Opis akcije</label>
                    <textarea type="text" rows="4" cols="50" class="form-control" name="opis_akcije" ng-model="izvrsena_akcija.opis_akcije"></textarea>
                </div>
                <div class="form-group text-right mr-4">
                    <label for="uspesnost" class="custom-checkbox">Uspešna</label> <input type="checkbox" disabled="disabled" class="checkmark" name="uspesnost" id="uspesnost" ng-model="izvrsena_akcija.uspesna" ng-true-value="1" ng-false-value="0">
                </div>
                <div class="form-group text-right">
                    <button type="button" class="btn btn-danger" ng-if="rnc.radni_nalog.datum_otpusta==null" ng-click="rnc.obrisiAkciju(izvrsena_akcija.id)">Obriši akciju</button>
                </div>
                <input type="nubmer" class="form-control mb-3" readonly>
            </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Nazad</button>
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#dodajIzvrsenuAkciju" ng-if="rnc.radni_nalog.datum_otpusta==null"><span class="input-group-addon mr-2" id="plus"><i class="fas fa-plus-circle"></i></span>Dodaj</button>
          </div>
       </div>
    </div>
 </div>


<!-- MODAL DODAVANJE IZVRSENE AKCIJE -->


<div class="modal fade" id="dodajIzvrsenuAkciju" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1">Nova akcija</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
                <form ng-submit="rnc.dodajIzvrsenuAkciju(rnc.radni_nalog.id)" id="formaDodaj">
                <div>
                    <label for="akcija">Akcija</label>
                    <div class="typeahead-demo">
                        <input class="form-control" name="akcija" type="text" autocomplete="off" ng-model="rnc.novaIzvrsenaAkcija.akcija" ng-model-options="modelOptions" uib-typeahead="akcija as akcija.nazivCena for akcija in rnc.akcije | filter:$viewValue | limitTo:8" ng-change="rnc.novaIzvrsenaAkcija.akcija.id" required>
                    </div>
                    <!--<select class="form-control" name="akcija" ng-options="akcija.id as akcija.naziv_akcije + ' - ' + akcija.cena_akcije + ' RSD' for akcija in rnc.akcije track by akcija.id" ng-model="rnc.novaIzvrsenaAkcija.akcija_id" ng-change="rnc.dobaviAkciju(rnc.novaIzvrsenaAkcija.akcija_id)" required><option></option></select>-->
                </div>
                <div>
                    <label for="serviser">Serviser</label>
                    <select class="form-control" name="akcija" ng-options="serviser.id as serviser.korisnicko_ime for serviser in rnc.serviseri track by serviser.id"
                    ng-model="rnc.novaIzvrsenaAkcija.serviser_id" required><option></option></select>
                </div>
                <div class="form-group">
                    <label for="opis_akcije">Opis akcije</label>
                    <textarea type="text" rows="4" cols="50" class="form-control" name="opis_akcije" ng-model="rnc.novaIzvrsenaAkcija.opis_akcije"></textarea>
                </div>
                <div class="form-group text-right mr-4 mt-3">
                    <label for="uspesna" class="custom-checkbox">Uspešna</label>
                    <input type="checkbox" class="checkmark" name="uspesna" id="uspesna" ng-model="rnc.novaIzvrsenaAkcija.uspesna" ng-true-value="1" ng-false-value="0" [checked]="rnc.novaIzvrsenaAkcija.checked">
                </div>
            </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" ng-click="rnc.ocistiFormu()">Zatvori</button>
                <input type="submit" class="btn btn-primary float-right" value="+ Dodaj akciju" form="formaDodaj"> 
          </div>
       </div>
    </div>
 </div>