

<div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a ui-sref="radniNalozi" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-clipboard-list"></i></span>Radni nalozi</a>
            <a ui-sref="automobili" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-car"></i></span>Vozila</a>
            <a ui-sref="klijenti" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-users"></i></span>Klijenti</a>
            <a ui-sref="serviseri" onclick="closeNav()" ng-if="ac.ulogovaniKorisnik.pravo==1"><span class="input-group-addon mr-2"><i class="fas fa-id-card-alt"></i></span>Serviseri</a>
            <a ui-sref="akcije" onclick="closeNav()"><span class="input-group-addon mr-2"><i class="fas fa-wrench"></i></span>Akcije</a>
            <a ui-sref="statistika" onclick="closeNav()" ng-if="ac.ulogovaniKorisnik.pravo==1"><span class="input-group-addon mr-2"><i class="far fa-chart-bar"></i></span>Statistika</a>
</div>


<div class="main-wrapper">
        <div id="main">
            <button class="openbtn" onclick="openNav()">☰ MENI</button>

            <h3 class="table-heading">Vozila</h3>
            <input type="text" name="search" class="search" placeholder="Pretraži..." ng-model="ac.parametri_pretrage" ng-keyup="ac.pretraga();">

        </div>
</div>





<div class="table table-striped tableFixHead">
    <table class="table table-lg table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Marka vozila i model</th>
                <th>Broj šasije vozila</th>
                <th>Klijent ime i prezime</th>
                <th>Akcije izvršene na ovom vozilu</th>
                <th>Nerešeni problemi na vozilu</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="automobil in ac.automobili" data-toggle="modal" data-target="#automobil" ng-click="ac.dobaviAutomobil(automobil.Automobil_id)">
                <td>{{$index+1}}</td>
                <td>{{automobil.naziv_proizvodjaca}} {{automobil.naziv_modela}}</td>
                <td style="text-transform: uppercase;">{{automobil.broj_sasije}}</td>
                <td>{{automobil.ime}} {{automobil.prezime}}</td>
                <td maxlength="20">{{automobil.sve_akcije}}</td>
                <td>{{automobil.nereseni_problemi}}</td>
            </tr>
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>   
</div>




<nav class="navbar navbar-expand-sm fixed-bottom footer" ng-controller="RadniNaloziCtrl as rnc">
            <ul class="navbar-nav mr-auto">
                <li>
                    <button type="button" class="btn btn-primary footerAddBtn" data-toggle="modal" data-target="#dodajAutomobil" id="addButton"><span class="input-group-addon mr-2" id="plus"><i class="fas fa-plus-circle"></i></span>Dodaj</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dodajProizvodjacaModel" id="addButton1"><span class="input-group-addon mr-2" id="plus"><i class="fas fa-plus-circle"></i></span>Proizvođač/Model</button>
                    <span class="input-group-addon mr-2" id="user" style="display: none"><i class="fa fa-user fa-lg"></i></span>
                    <input name="loggedIn" class="loggedIn" ng-model="rnc.ulogovaniKorisnik.korisnicko_ime" id="userInput" style="display: none">
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="btn text-danger" ng-click="rnc.logout()">Odjava</a>
                </li>
            </ul>
</nav>




<div uib-alert ng-repeat="alert in ac.alerts" ng-class="'alert-' + (alert.type)" class="myAlert-bottom" close="ac.closeAlert($index)" dismiss-on-timeout="8000">{{alert.msg}}</div>




<!-- MODAL DODAVANJE  -->

<div class="modal fade" id="dodajAutomobil" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" ng-controller="RadniNaloziCtrl as rnc">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1">Dodavanje vozila</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
                <form ng-submit="ac.dodajAutomobil()" id="formaDodaj">
                    <div class="form-group">
                        <label for="proizvodjac">Proizvođač</label>
                        <select class="form-control" name="proizvodjac" ng-options="proizvodjac.id as proizvodjac.naziv_proizvodjaca for proizvodjac in ac.proizvodjaci track by proizvodjac.id"
                            ng-model="ac.noviAutomobil.proizvodjac.id" ng-change="ac.dobaviModele(ac.noviAutomobil.proizvodjac.id)" required><option></option></select>
                    </div>
                    <div class="form-group">
                        <label for="modeli">Model</label>
                        <select class="form-control" name="modeli" ng-options="model.id as model.naziv_modela for model in ac.modeli track by model.id"
                            ng-model="ac.noviAutomobil.model_id" required><option></option></select>
                    </div>
                    <div class="form-group">
                        <label for="broj_sasije">Broj šasije vozila</label>
                        <input type="text" class="form-control" style="text-transform: uppercase;" autocomplete="off" name="broj_sasije" ng-model="ac.noviAutomobil.broj_sasije" required>
                    </div>
                </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" ng-click="ac.ocistiFormu()">Zatvori</button>
                <input type="submit" class="btn btn-primary float-right" value="+ Dodaj" form="formaDodaj"> 
          </div>
       </div>
    </div>
 </div>





<!-- MODAL DETALJAN PRIKAZ -->

 <div class="modal fade" id="automobil" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">      
                <h5 class="modal-title" id="exampleModalLabel1">Pregled vozila</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="pregled">
                    <div class="form-group">
                        <label for="automobil_marka">Automobil marka</label>
                        <input type="text" class="form-control" name="automobil_marka" ng-model="ac.automobil.naziv_proizvodjaca" readonly>
                    </div>
                    <div class="form-group">
                        <label for="automobil_model">Automobil model</label>
                        <input type="text" class="form-control" name="automobil_model" ng-model="ac.automobil.naziv_modela" readonly>
                    </div>
                    <div class="form-group">
                        <label for="broj_sasije">Broj šasije</label>
                        <input type="text" class="form-control" name="broj_sasije" ng-model="ac.automobil.broj_sasije" readonly>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="sve_akcije">Akcije izvršene na vozilu</label>
                            <textarea rows="4" cols="50" class="form-control" name="sve_akcije" ng-model="ac.automobil.sve_akcije" readonly></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nereseni_problemi">Nerešeni problemi na vozilu</label>
                            <textarea rows="4" cols="50" class="form-control" name="nereseni_problemi" ng-model="ac.automobil.nereseni_problemi" readonly></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Zatvori</button>
          </div>
       </div>
    </div>
 </div>




<!-- MODAL IZMENA -->

  





<!-- MODAL DODAVANJE PROIZVOĐAČA/MODELA -->

<div class="modal fade" id="dodajProizvodjacaModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodavanje proizvođača/modela</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='tabs-x tabs-above tabs-krajee'>
            <ul id="myTab-tabs-above" class="nav nav-tabs mb-5" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="home-tab-tabs-above" data-target="#proizvodjac-tab" role="tab" data-toggle="tab" aria-controls="home" ng-click="rnc.dobaviAutomobile(); rnc.dobaviKlijente(); ac.otvorenModal='proizvodjac'" aria-expanded="true">Proizvođač</a></li>
                <li class="nav-item"><a class="nav-link" id="profile-tab-tabs-above" data-target="#model-tab" role="tab-kv" data-toggle="tab" aria-controls="profile" ng-click="rnc.dobaviAutomobile(); rnc.dobaviKlijente(); ac.otvorenModal='model'">Model</a></li>
            </ul>
            <div id="myTabContent-tabs-above" class="tab-content">
                <div class="tab-pane fade show active" id="proizvodjac-tab" role="tabpanel" aria-labelledby="proizvodjac-tab">
                    <form ng-submit="ac.dodajProizvodjaca()" id="formaDodajProizvodjaca">
                        <div class="form-group">
                            <label for="proizvodjac">Naziv proizvođača</label>
                            <input type="text" class="form-control" name="proizvodjac" ng-model="ac.noviProizvodjac.naziv_proizvodjaca" required>
                        </div>
                    </form>
                </div>


                <div class="tab-pane fade" id="model-tab" role="tabpanel" aria-labelledby="model-tab">
                    <form ng-submit="ac.dodajModel()" id="formaDodajModel">
                        <div class="form-group">
                            <label for="proizvodjac">Proizvođač</label>
                            <select class="form-control" name="proizvodjac" ng-options="proizvodjac.id as proizvodjac.naziv_proizvodjaca for proizvodjac in ac.proizvodjaci track by proizvodjac.id"
                            ng-model="ac.noviModel.proizvodjac_id" ng-change="ac.dobaviModele(ac.noviModel.proizvodjac_id)" required><option></option></select>
                        </div>
                        <div class="form-group">
                            <label for="model">Naziv modela</label>
                            <input type="text" class="form-control" autocomplete="off" name="model" ng-model="ac.noviModel.naziv_modela" required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" ng-click="ac.ocistiFormu()">Zatvori</button>
            <input type="submit" class="btn btn-primary float-right" value="+ Dodaj" form="formaDodajProizvodjaca" ng-if="ac.otvorenModal=='proizvodjac'"> 
            <input type="submit" class="btn btn-primary float-right" value="+ Dodaj" form="formaDodajModel" ng-if="ac.otvorenModal=='model'"> 
    </div>
  </div>
</div>
</div>
